@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative);

/* Header Styling */

h1, h2 {
  text-align: center;
  line-height: 100%;
  font-family: "Cinzel Decorative", Georgia, serif;
}

h1 {
  font-size: 50px;
};

h2 {
  font-size: 40px;
}

h3 {
  text-align: center;
}

.country {
  height: 400px;
  width: 800px;
  border: 1px dashed;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}

/* Ukraine */
#ukraine div {
  height: 175px;
  width: 800px;
}

#box1 {
  background-color: blue;
}

#box2 {
  background-color: yellow;
}

/* Germany */
#germany div {
  height: 116.6px;
  width: 800px;
}

#box3 {
  background-color: black;
}

#box4 {
  background-color: red;
}

#box5 {
  background-color: yellow;
}

/* Lithuania */
#lithuania div {
  height: 116.6px;
  width: 800px;
}

#box6 {
  background-color: yellow;
}

#box7 {
  background-color: green;
}

#box8 {
  background-color: red;
}

/* Yemen */
#yemen div {
  height: 116.6px;
  width: 800px;
}

#box9 {
  background-color: red;
  margin-bottom: 116.6px;
}

#box10 {
  background-color: black;
}

/* The Gambia */
#gambia div {
  width: 800px;
}

#box11 {
  background-color: red;
  height: 116.6px;
}

#box12 {
  background-color: blue;
  height: 100px;
  margin-top: 8.3px;
  margin-bottom: 8.3px;
}

#box13 {
  background-color: green;
  height: 116.6px;
}

/* Chad */
#chad div {
  height: 350px;
  width: 266.6px;
}


#box14 {
  background-color: blue;
}

#box15 {
  background-color: yellow;
}

#box16 {
  background-color: red;
}


.left {
  float: left;
  height: 350px;
  width: 266.6px;
  display: inline;
}

.middle {
  float: left;
  height: 350px;
  width: 266.6px;
  display: inline;
}

.right {
  float: left;
  height: 350px;
  width: 266.6px;
  display: inline;
}

/* France */
#france div {
  height: 350px;
  width: 266.6px;
}

#box17 {
  background-color: blue;
  border-right: 266.6px solid white;
}

#box18 {
  background-color: red;
}

/* Benin */
#benin div {

}

#box19 {
  background-color: green;
  height: 350px;
  width: 266.6px;
}

#box20 {
  background-color: yellow;
  height: 175px;
  width: 533.2px;
}

#box21 {
  background-color: red;
  height: 175px;
  width: 533.2px;
}
/* UAE */
#uae div {

}

#box22 {
  background-color: red;
  height: 350px;
  width: 266.6px;
}

#box23 {
  background-color: green;
  height: 116.6px;
  width: 533.2px;
  border-bottom: 116.6px solid white;
}

#box24 {
  background-color: black;
  height: 116.6px;
  width: 533.2px;
}

/* Denmark */
#denmark div {

}

#Dleft {
  float: left;
  margin-right: 276.6px,
}

#Dright {
  float: right;
}

#D1 {
  background-color: red;
  height: 150px;
  width: 250px;
  margin-bottom: 26.6px; 
}

#D2 {
  background-color: red;
  height: 150px;
  width: 250px;
}

#D3 {
  background-color: red;
  height: 150px;
  width: 533.2px;
  margin-bottom: 26.6px;
}

#D4 {
  background-color: red;
  height: 150px;
  width: 533.2px;
}

/* Norway */

/* Greece */




